<div class="footer">
  <div class="container">
    <div class="col-sm-6">
      <h2>Address</h2>
      <a href="http://maps.google.com/?q=10693 Belle Creek Boulevard, Henderson, CO 80640" target="_blank">
        <address>10693 Belle Creek Boulevard<br>Henderson, CO 80640</address><br>
      </a>
      <a href="mailto:cec@bellecreekmd.org" target="contact">cec@bellecreekmd.org</a>
    </div>
    <div class="col-sm-6">
      <h2>Phone</h2>
      <p>Office: <a href="tel:+13032893584">(303) 289-3584</a></p>
      <p>Fax: <a href="tel:+13032896318">(303) 289-6318</a></p>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
