<header class="header" role="banner">
  <div class="container">
    <div class="col-xs-12 col-md-4">
      <h1><a href="/" aria-label="return to home page">Belle Creek Metro</a></h1>
    </div>
    <div class="col-xs-12 col-md-4">
      <span class="glyphicon glyphicon-envelope title-icon" aria-hidden="true"></span>
      <div class="title-label">Email Us</div>
      <div class="title-content">
        <a href="mailto:board@bellecreek.org" target="contact"
          aria-label="open default email provider to board">board@bellecreek.org</a>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <span class="glyphicon glyphicon-info-sign title-icon" aria-hidden="true"></span>
      <div class="title-label">Family Center</div>
      <div class="title-content">
        <a href="tel:+13032893584" aria-label="dial the family center">303-289-3584</a>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</header>
