<div class="header_nav">
  <div class="container">
    <nav class="navbar navbar-default green-bar">
      <div class="navbar-header">
        <button type="button"
                data-toggle="collapse"
                data-target="#navigation-menu"
                aria-expanded="false"
                class="navbar-toggle collapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      </div>
      <div id="navigation-menu" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/notices.html">
              <span aria-hidden="true" class="glyphicon glyphicon-comment"></span>
              <span class="nav-title">Notices</span>
            </a>
          </li>
          {{#if this.next.path }}
          <li>
            <a href="{{ link this.next.path }}">
              <span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span>
              <span class="nav-title">Older: {{ this.next.title }}</span>
            </a>
          </li>
          {{/if}}
          {{#if this.previous.path}}
          <li>
            <a href="{{ link this.previous.path }}">
              <span class="nav-title">Newer: {{ this.previous.title }}</span>
              <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </li>
          {{/if}}
          <div class="clearfix"></div>
        </ul>
        <div class="clearfix"></div>
      </div>
    </av>
  </div>
</div>
