block footer
  .footer
    .container
      .col-md-6.contact-left
        h4 Address
        address
          | 10693 Belle Creek Boulevard
          br
          | Henderson,
          abbr(title='Colorado') CO
          |  80640
          br
          a(href='mailto:bellecreekmd@gmail.com', target='_blank') bellecreekmd@gmail.com
      .col-md-6.contact-left
        h4 Phone
        p
          | Office:
          a(href='tel:+13032893584') (303) 289-3584
        p
          | Fax:
          a(href='tel:+13032896318') (303) 289-6318
      .clearfix
block scripts
  script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
  script(type='text/javascript', src='js/bootstrap.min.js')
