.header
  .container
    .col-xs-12.col-md-4
      h1
        a(href='index.html') Belle Creek Metro
    .col-xs-12.col-md-4
      span.glyphicon.glyphicon-envelope.title-icon(aria-hidden='true')
      .title-label Email Us
      .title-content
        a(href='mailto:bellecreekmd@gmail.com', target='_blank') bellecreekmd@gmail.com
    .col-xs-12.col-md-4
      span.glyphicon.glyphicon-info-sign.title-icon(aria-hidden='true')
      .title-label Family Center Site
      .title-content
        a(href='http://www.denverymca.org/belle-creek') Denver YMCA Belle Creek
    .clearfix
