extends ./includes/layout.jade

block content
  .header_nav
    +navbar('')
  section.welcome
    .container
      .centered-header
        h2.news Belle Creek Community <br>
          | ANNUAL MEETING AGENDA
        h3 
          | Saturday – May 14, 2016 – 10:00 a.m. <br>
          a(href="http://maps.google.com/?q=10693 Belle Creek Boulevard, Henderson, CO 80640", target="_blank")
            | Belle Creek Family Center
            br
            address
              | 10693 Belle Creek Boulevard
              br
              | Henderson, CO 80640
              br
          a(href='tel:+13032893584') 303.289.3584
      .agenda The meeting agenda will include the following matters:
        ol
          li HOA Dissolution
          li Covenant Enforcement Committee
          li YMCA
          li Waste Management
          li Commerce City Police
          li Community Comments/Concerns/Questions
          li Adjournment
      .row.contacts
        .col-sm-6.contact
          | District Manager
          br
          | Laurie Tatlock
          br
          | 2 Inverness Drive East, Suite 200
          br
          | Englewood, CO 80112
          br
          | Email:&nbsp;
          a(href='mailto:laurie@mulhernmre.com') laurie@mulhernmre.com
          br
          | Phone #&nbsp;
          a(href='tel:+13036499857') 303-649-9857
        .col-sm-6.contact
          | Covenant Manager
          br
          | Charles Wolfersberger
          br
          | P.O. Box 8
          br
          | Henderson, CO 80640
          br 
          | Email:&nbsp;
          a(href='mailto:charles@wolfersbergerllc.com') charles@wolfersbergerllc.com
          br
          | Phone #&nbsp;
          a(href='tel:+17205417725') 720-541-7725
