<section class="introduction">
  <div class="container">
    <h2 class="section-title">Meetings</h2>
    <p>
      The Covenant Enforcement Committee (CEC) meets once a month on the third wednesday. These meetings are open to the public
      and we encourage the home owners join us if they want to hear what is going on or express some other concern.
    </p>
    <bc-next-meeting></bc-next-meeting>
  </div>
  <div class="container">
      <div class="floating-controls">
        <bc-minutes-year-selector [years]="years" (yearChanged)="onYearChanged($event)"></bc-minutes-year-selector>
        <bc-minutes-calendar [months]="months" (monthChanged)="onMonthChanged($event)"></bc-minutes-calendar>
      </div>
      <div class="wraparound-content">
        <div class="content" *ngIf="months?.length">
          <router-outlet></router-outlet>
        </div>
      </div>
  </div>
</section>
