<section class="introduction">
  <div class="container">
    <h2 class="section-title">Meetings</h2>
    <p>
      The Covenant Enforcement Committee (CEC) meets once a month on the third wednesday. These meetings are open
      to the public and we encourage the home owners join us if they want to hear what is going on or express
      some other concern.
    </p>
    <bc-next-meeting></bc-next-meeting>
    <!-- <ul class="meeting-notes">
      {{#each collections.minutes}}
        <li>
          <a href="{{ link path }}">{{ title }}</a>
        </li>
      {{/each}}
    </ul> -->
  </div>
</section>