@hc-dark-grey: #3B444B;
@mc-dark-grey: #73767C;
@lc-dark-grey: #93959A;

@hc-dark-green: #006647;
@mc-dark-green: #14855F;
@lc-dark-green: #21A67A;

@hc-light-green: #61F2C1;
@mc-light-green: #09C889;

@hc-dark-blue: #005E8C;
@mc-dark-blue: #007BC2;
@lc-dark-blue: #2B9DD6;

@hc-dark-red: #B50600;
@mc-dark-red: #E32B24;
@lc-dark-red: #EF3934;

@hc-dark-purple: #8325C1;
@mc-dark-purple: #C729D1;

@white: #FFFFFF;

h3.event-cta {
  background-color: @hc-dark-purple;
  padding: 10px 15px;
  color: @white;
  text-align: center;
}

@media (min-width: 768px) {
  .row.equal {
    display: flex;
    flex-wrap: wrap;

    article {
      height: 100%;
    }

    p {
      margin: 0 0 0.5em 0.5em;
    }
  }
}

/* agenda info page */
.centered-header {
  margin-bottom: 38px;
  address {
    margin: 0;
  }

  a {
    font-style: normal;
  }

  h2, h3 {
    text-align: center;
  }

  h2 {
    margin-bottom: 38px;
  }
}

.notice {
  margin-bottom: 15px;
}

.excerpt {
  margin: 0 1em;
  p {
    margin: 0;
  }
}

/* added via javascript */
.fixed-header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.floating-image {
  width: 50%;
  max-width: 383px;
  
  img {
    width: 100%;
  }

  &.rounded {
    border-radius: 12px;
    overflow: hidden;
  }

  &.right {
    margin: 0 0 30px 30px;
    float: right;
  }

  &.left {
    margin: 0 30px 30px 0;
    float: left;
  }
}

@media (max-width: 768px) {
  .floating-image {
    display: block;
    float: none;
    width: inherit;

    &.right, &.left {
      float: none;
      margin: 0 auto 30px auto;
    }
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-size: 24px;
}
section {
  margin-bottom: 50px;
}
p {
  margin: 0 0.5em 2em;
}

// if a list follows a paragraph, cut down on margin
p + ul {
  margin-top: -1.5em;
} 
h2 {
  margin-top: 26px;
}
a {
  font-style: italic;
  color: @hc-dark-green;
}
a:hover {
  color: @mc-dark-green;
}
.section-title {
  text-align: center;
}
.header {
  padding: 2em 0;
  .title-icon.glyphicon {
    color: @mc-dark-green;
    display: inline-block;
    margin-right: 10px;
  }
  .title-label {
    display: inline-block;
  }
  .title-content {
    margin-bottom: 12px;
  }
}
.contact {
  .person {
    display: block;
    margin-left: 1em;
  }
  .company,
  .address,
  .phone,
  .email,
  .website {
    display: block;
    margin-left: 1.5em;
  }
}
nav.navbar a {
  font-style: normal;
}
nav.navbar.navbar-default.green-bar {
  background-color: @mc-dark-green;
  padding: 0;
  margin: 0;
}
.header_nav {
  background-color: @mc-dark-green;
}
.navbar-default .navbar-nav>li {
  padding: 0;
  text-align: center;
}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a {
  padding: 1em 2em;
  color: @white !important;
  font-weight: 500;
  font-size: 0.75em;
  background: @mc-dark-green;
  border-right: 1px dotted @white;
}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  background: #020202 !important;
  border-radius: 2px;
  transition: 0.6s all;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background: #020202 !important;
}
.glyphicon {
  color: @white;
  margin-right: 5px;
}
.navbar-default {
  background-color: @white;
  border: none;
}
.navbar {
  position: relative;
  min-height: 36px;
}
.navbar-collapse {
  padding-right: 0;
  padding-left: 0;
}
#navigation-menu {
  overflow: hidden;
}
.minutes {
  p {
    color: #444;
  }
  h1 + h1 {
    margin: 0;
  }
  h1 {
    margin: 28px 0 0;
    text-align: center;
  }
  .meeting-minutes {
    padding-top: 54px;
  }
}
.footnote {
  font-size: smaller;
  color: #999;
}
/*-- footer --*/
.footer {
  padding: 2em 0;
  background-color: @hc-dark-grey;

  a, a:hover, a:focus, a:visited {
    color: @hc-light-green;
    @mc-light-green: #09C889;
  }
  p {
    color: @hc-light-green;
    @mc-light-green: #09C889;
    line-height: 1.2em;
    margin: 0.3em 0;
  }
  h2 {
    color: @hc-light-green;
    @mc-light-green: #09C889;
    font-weight: 700;
  }
  address {
    color: @hc-light-green;
    @mc-light-green: #09C889;
  }
}

/*-- Media Queries --*/
@media(max-width:1320px) {
  .navbar-default .navbar-nav>li>a:focus,
  .navbar-default .navbar-nav>li>a {
    padding: 1em 1.3em ! important;
  }
}
@media(max-width:1024px) {
  body {
    font-size: 18px;
  }
}
@media(max-width:768px) {
  .navbar-default .navbar-nav>li>a:focus,
  .navbar-default .navbar-nav>li>a {
    padding: 1em 1em ! important;
  }

  body {
    font-size: 16px;
  }
}
@media(max-width:767px) {
  .navbar-default .navbar-toggle .icon-bar {
    background-color: @white ! important;
  }
  .navbar-default .navbar-toggle {
    border-color: @white ! important;
  }
  .navbar-default .navbar-toggle:focus,
  .navbar-default .navbar-toggle:hover {
    background-color: @mc-dark-green ! important;
  }
  .navbar-default .navbar-nav>li>a:focus,
  .navbar-default .navbar-nav>li>a {
    border-right: none ! important;
    font-size: 1em;
  }
}
@media(max-width:640px) {
  .header {
    padding: 1em 0;
  }

  body {
    font-size: 14px;
  }
}
@media(max-width:320px) {
  .header {
    padding: 0.5em 0;
  }
  .contact {
    padding: 2em 0 0;
  }
  body {
    font-size: 12px;
  }
}
