block footer
  .footer
    .container
      .col-sm-6
        h2 Address
        address
          | 10693 Belle Creek Boulevard
          br
          | Henderson,&nbsp;
          abbr(title='Colorado') CO
          | &nbsp;80640
          br
          a(href='mailto:bellecreekcec@gmail.com', target='_blank') bellecreekcec@gmail.com
      .col-sm-6
        h2 Phone
        p
          | Office:&nbsp;
          a(href='tel:+13032893584') (303) 289-3584
        p
          | Fax:&nbsp;
          a(href='tel:+13032896318') (303) 289-6318
      .clearfix
