meta(name='viewport', content='width=device-width, initial-scale=1')
meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
meta(name='keywords', content='belle creek, metro district')
script(type='application/x-javascript').
	addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
	function hideURLbar() { window.scrollTo(0, 1); }
block style
	link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&lang=en')
	link(rel='stylesheet', href='css/bootstrap.min.css', type='text/css')
	link(rel='stylesheet', href='css/styles.css', type='text/css')
