extends ./includes/layout.jade

block content
  #home.header_nav
    +navbar('Contact')
  section.contact
    .container
      h2.section-title Contact
      p
        | For information about violations, or to report a violation, contact the district&rsquo;s covenant enforcement manager Charles Wolfersberger. For information regarding services provided by the Metro District or to report a problem with a community park or
        | other amenity, contact the district manager, Laurie Tatlock.
      p
        | Covenant Enforcement Manager:
        span.person Charles Wolfersberger
        span.company Wolfersberger, LLC
        span.address PO Box 8
        span.address Henderson, CO 80640
        span.phone
          a(href='tel:+17205417725') 720-541-7725
        span.email
          a(href='mailto:charles@wolfersbergerllc.com', target='_blank') charles@wolfersbergerllc.com
        span.website
          a(href='http://www.wolfersbergerllc.com', target='_blank') www.wolfersbergerllc.com
      p
        | District Manager:
        span.person Laurie Tatlock
        span.company Mulhern MRE, Inc.
        span.address Inverness Drive East, Suite 200
        span.address Englewood, CO 80112
        span.phone
          a(href='tel:+13006499857') 303-649-9857
        span.email
          a(href='mailto:laurie@mulhernmre.com', target='_blank') laurie@mulhernmre.com
      p
        | Covenant Enforcement Committee Resident Members
        span.person Leonard Sandoval
        span.person Jonathan Stanwyck
        span.person Nephi Wright
        span.person Rich Brewer
        span.person Sabrina Ray
        span.email
          a(href='mailto:bellecreekCEC@gmail.com', target='_blank') bellecreekCEC@gmail.com
