extends ./includes/layout.jade

block content
  #home.header_nav
    +navbar('Documents')
  section.documents
    .container
      h2.section-title Documents
      p
        | The Belle Creek Metropolitan District No. 1 is responsible for park maintenance, channel maintenance, detention pond and outlet (structures maintenance), alleys (maintenance and snow removal - snow removed when accumulation reaches 6&quot;), and the Family
        | Center.
      p
        | Here are documents that homeowners may need access to:
      p
        ul
          li
            a(href='assets/BCDesignGuidelines.pdf', target='_blank')
              | Belle Creek Design Guidelines and Application Review Procedures for Home Improvement and Landscaping
            ul
              li
                | These are the guidelines all homeowners agreed to follow when they moved into this community. It describes what will and will not be approved for changes to your home or property.
          li
            a(href='assets/Design_and_Improvement_Request_Form.pdf', target='_blank') Design and Improvement Request Form
            ul
              li
                | This is the form that must be filled out if you want to make changes to the exterior of your home or your property. Most of the changes described in the above guidelines require that this form be filled out.
          li
            a(href='assets/201406261109.pdf', target='_blank') Master Declaration of Covenants, Conditions and Restrictions
            ul
              li
                | This is the document which describes the powers and limitations of Belle Creek Metropolitan District No 1.
          li
            a(href='assets/Signed_Resolution_for_Covenant_Enforcement_2014.pdf', target='_blank') Resolution Regarding Policies and Procedures for Covenant Enforcement
            ul
              li
                | Defines the rules and covenant enforcement procedures that are observed by the Covenant Enforcement Committee
          li
            a(href='assets/Belle_Creek_HOA_Covenant_Violation_Book__03-04-13_.pdf', target='_blank') Covenant enforcement guidebook
            ul
              li
                | A guide to help you understand some of the most common violations. It has photos to help illustrate some common problems.
